<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ELECTROCORE - New Product</title>
	<link href="/css/bienvenida.css" rel="stylesheet">
	<link href="/css/productoStyle.css" rel="stylesheet">
	<link href="/css/carritoStyle.css" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap" rel="stylesheet">

	<script src="https://kit.fontawesome.com/57faba85b1.js" crossorigin="anonymous"></script>

</head>

<body>

	<header class="encabezado">

		<nav class="header-nav">
			<div class="logo-container">
				<a th:href="@{/index}"><img src="/imagenes/logoCompoTech.png" width="40%"></a>
			</div>

			<div class="cerrar-sesion">
				<div class="iconos">
					<a th:href="@{/carrito}"><i class="fa-solid fa-cart-shopping" width="40%"></i></a>
				</div>
				<div class="logOut">
					<a th:href="@{/logout}">
						<p>Logout</p>
					</a>
				</div>
			</div>
		</nav>
		<nav class="navegador">
			<ul class="opciones">
				<li><a th:href="@{/index}">Start</a></li>
				<li><a th:href="@{/producto}">Products</a></li>
				<li><a th:href="@{/pedidosAprov}">Supplies</a></li>
				<li><a th:href="@{/stock}">Stock</a></li>
			</ul>
		</nav>
	</header>

	<main>

		<form class="formulario" th:action="@{/product/create}" th:object="${producto}" method="post">
			<p>Name &ensp; : <input type="text" th:field="*{name}" /></p>
			<p>Sale price &ensp; : <input type="number" th:field="*{sellingPrice}" min="0" /></p>
			<p>Critical Stock &ensp; : <input type="number" name="quantityMin" min="0" /></p>

			<input type="submit" value="Crear producto" />
		</form>

	</main>

</body>

</html>