header{
    width: 100%;
    height: 126px;
    border-bottom: 2px solid rgb(85,173,155);
}

.header-nav{
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    display: inline;
}

.logo-container{
    width: 30%;
    text-align: right;
}

.buscador-container{
    width: 30%;
}

.botones-container{
    width: 20%;
    text-align: right;
    padding-right: 2%;
}


.botones-container ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.header-list li{
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
}

.opciones li {
    border-bottom: 6px solid white;
    border-top: 6px solid white;
    transition-property: border;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 5px;
    color: gray;
}

.opciones li a{
    text-decoration: none;
    color: gray;
}

.opciones li a:hover{
    color:black;
}

.opciones li:hover{
    transition-duration: 1s;
    border-bottom: 6px solid rgb(240,146,131); 
    border-top: 6px solid rgb(240,146,131); 
    color:black;
}
