/* Estilo del encabezado */
header {
	width: 100%;
	height: 126px;
	border-bottom: 2px solid rgb(85, 173, 155);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Estilo de la barra de navegación */
.header-nav {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* Estilo del contenedor del logo */
.logo-container {
	width: 30%;
	text-align: right;
}

/* Estilo del contenedor del buscador */
.buscador-container {
	width: 30%;
}

/* Estilo del contenedor de los botones */
.botones-container {
	width: 20%;
	text-align: right;
	padding-right: 2%;
}

/* Estilo de la lista de botones */
.botones-container ul {
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
}

/* Estilo de los elementos de la lista de navegación */
.header-list li {
	margin: 0 20px;
}

/* Estilo de las opciones */
.opciones li {
	margin: 0 20px;
	padding: 5px 0;
	border: 6px solid transparent;
	transition: border-color 0.5s, color 0.5s;
	color: gray;
}

.opciones li a {
	text-decoration: none;
	color: gray;
}

.opciones li:hover {
	border-color: rgb(240, 146, 131);
	color: black;
}